<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>

  <body>
  <% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert alert-danger"><%= alert %></p>
<% end %>
<div class="w3-row w3-border">
  <div class="w3-container w3-third ">
   
   
  </div>
  <div class="w3-container w3-third ">
   
   
  </div>
  <div class="w3-container w3-third " align="right">
    <p class="navbar-text float-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link w3-btn w3-black' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link w3-btn w3-black'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link w3-btn w3-black'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link w3-btn w3-black'  %>
<% end %>
</p>
  </div>
</div>


    <%= yield %>
  </body>
</html>

